*{box-sizing: border-box;}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.carousel{
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.image-container{
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}